{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>{{event}}<small>&nbsp; Staff Registration</small></h1>
		<h3>Registration Complete!</h3>
		<hr>
		<p><h3 class = 'bg-warning'>No confirmation email will be sent for completing this form!</h3> Please follow up via email with your department head to let them know you've registered.</p>
		<p>Unless you <i>are</i> a department head. In that case, just tell yourself that you did it.</p> 
		<p>If you're a division head, delegate the task of telling yourself to the correct head.</p> 
		<p style='float:right;'><a href='http://animeusa.org/'>Back to Main Page</a></p>
	</div>
	</div>
{% endblock %}
