{% extends "registration/master.html" %}

{% load registration_tags %}

{% block content %}
<div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h4>
      </div>
      <div class="modal-body">
    	<p>Staff must be over the age of 18.</p>
	    <p>Please contact <a href="mailto:{{ event.staffEmail }}">{{ event.staffEmail }}</a> if you have any questions.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="directModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Before you start...</h4>
      </div>
      <div class="modal-body">
    	<p>Please note that this form is for <b>existing staff members</b> to provide information for {{event}}.</p>
		<p>If you were <b>referred</b> here for a specific position by a Department Head or other convention leadership, you may also complete this form.  
		<p>If you are not yet a staff member and would like to apply, please complete the Staff Interest form instead of this one.</p>
		<div class='text-center'>
			<p><a type="button" class="btn btn-primary" target="_blank" data-dismiss="modal">I'm a staff member or I was referred to this page</a></p>
			<p><a type="button" class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfJHB5KcAJqOxOv-zaumdBSbD87Wa2lSWHzUaBqyOes5raiMg/viewform">Take me to the Staff Interest Form</a></p>
		</div> 
      </div>
    </div>
  </div>
</div>

    {% if not token and auth == True%}
		<h1>{{event}}<small>&nbsp; Staff Information Form</small></h1>
        <p>Your session has expired. Please use the link in your registration email again to start over.</p>
    {% else %}

	<form class="form-horizontal" role="form" data-toggle="validator">
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>{{event}}<small>&nbsp; Staff Information Form</small></h1>

		<p>Please review and update the information below. If you have any questions about this form, please contact <a href='mailto:{{ event.staffEmail }}'>{{ event.staffEmail }}</a>. Required fields are marked with a red asterisk (<span style="color:red;">*</span>)</p>
        {% show_attendee_form event=event %}

        {% show_staff_form staff %}
		
		{%if auth == True and event.staffEventRegistration == True%}
		
        <hr/>
        <h3>Badge Level</h3>
        <br/>
        {% show_price_types %}
        <br/>
		{%endif%}
        <hr/>

            <div class="form-group form-inline agree">
                <div class="col-sm-12">
                    <input type="checkbox" id="agreeToRules" name="agreeToRules" class="form-control form-control-checkbox" required />
			        I agree to abide by {{event}}'s <a href="{{ event.codeOfConduct }}">Code of Conduct.</a>
                </div>
		        <div class="col-sm-offset-1 help-block with-errors" style="padding-left:15px;"></div>
		    </div>
					
		    <div class="form-group">
                 <div class="col-sm-12">
                    <button id="register" type="submit" class="btn btn-primary sol-sm-6 " aria-controls="profile" data-toggle="tab">Register</button>
		        </div>
            </div>
	    </div>
	</div>
	{% csrf_token %}
	</div>
	</form>

    {% endif %}

{% endblock %}

{% block javascript %}
<script>
	//Pass things here to allow external scripts to use the data. 
	var auth_token = '{{event.useAuthToken}}';
		auth_token = Boolean(auth_token)
	 
</script>
<script type="text/javascript" src="/static/js/templates/price-types.js"></script>
<script type="text/javascript" src="/static/js/templates/staff.js"></script>
<script type="text/javascript">
	


	$("#register").click(doRegister);

	//Handle no staff discount.  
	{% if not event.newStaffDiscount.amountOff%}
	console.warn("EM: No staff discount found!"); 
	var adult = true;
   	var discount = false;

	{% else %}
	console.warn("EM: JS2"); 
	var adult = true;
    var discount = {{event.newStaffDiscount.amountOff}};
	
	{% endif %}

	function doRegister(e) {
		console.log($('#division').val()); 
		e.preventDefault();
		$("form").validator('validate');
		var errorCount = $(".has-error").length;
		if (errorCount > 0) {return;}
        
        // Validate birthdate input
        if ($("#birthDate").val() == "") {
            alert("You must enter your birthdate to submit your registration.");
            return;
        }
        if (Modernizr.inputtypes.date) {
            // native datepicker - expect ISO date
            var birthdate = parseDate($("#birthDate").val());
        } else {
            // American middle-endian format put out by datepicker javascript
            var birthdate = new Date(Date.parse($("#birthDate").val()));
        }
        var age = getAge(birthdate);
        if (age < 18) {
            alert("You must be 18 by the first day of the event to register online.")
            return;
        }

		$("#register").attr("disabled", "disabled");
		let reportedDept = ''; 
		
		var data = {}
			data['attendee'] = {'firstName': $("#firstName").val(), 'lastName': $("#lastName").val(), 
				'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(), 
				'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(),
				'birthdate' : $("#birthDate").val(), 'phone': $("#phone").val(), 
                'email':$("#email").val(), 'badgeName': $("#badgeName").val()};
			data['event'] = '{{event}}';
		
		console.log(typeof $('#division').val());
		console.log($('#division').val() == 4); 
		
		
		if($('#division').val() == 1){
			
			if($('#title').val() == 1){
				reportedDept = "46"; 
			}
			
			if($('#title').val() == 2){
				reportedDept = "45";
			}
		}
		else{
		
			if($('#title').val() == 3){
				reportedDept = "47";
			}
			
			else{
				reportedDept = $('#department').val(); 
			}
		}
		
		//prepare AccomodationType
		var staffAccom = '';
		
		if($("#accommodation").val() == "0"){
			staffAccom = "Crash Space"; 
		}
		else if($("#accommodation").val() == "1"){
			staffAccom = "Room Reimbursement";
		}
		else if($("#accommodation").val() == "2"){
			staffAccom = "None";
		}
		else{
			staffAccom = ""; 
		}
		
		
		//Prepare the requests/blacklist if accommodation type is 0.  
		var roomList = ""; 
		var blackList = ""; 
		
		if($("#accommodation").val() == "0"){
			roomList = $("#whitelist").val();
			blackList = $("#blacklist").val();
		}
		
		console.log('reporteddept', reportedDept); 
		
			data['staff'] = {
				'shirtsize': $("#shirt").val(), 'specialSkills': $("#skills").val(),
				'specialFood': $("#food").val(), 'specialMedical': $("#medical").val(),
				'contactPhone': $("#contactPhone").val(), 'contactName': $("#contactName").val(),
				'contactRelation': $("#contactRel").val(),
				'department': reportedDept,
				'division': $("#division").val(),
				'title': $("#title").val(),
				'accommodationType':staffAccom,
				'roommateRequests':roomList,
				'roomateBlacklist':blackList,
				'discord':$("#discord").val()
			}
			console.log(data);
	
		
		<!-- var data = { -->
			<!-- 'attendee': { -->
				<!-- 'firstName': $("#firstName").val(), 'lastName': $("#lastName").val(),  -->
				<!-- 'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(),  -->
				<!-- 'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(), -->
				<!-- 'birthdate' : $("#birthDate").val(), 'phone': $("#phone").val(),  -->
                <!-- 'email':$("#email").val(), 'badgeName': $("#badgeName").val() -->
			<!-- },  -->
			<!-- 'staff': { -->
				<!-- 'shirtsize': $("#shirt").val(), 'specialSkills': $("#skills").val(), -->
				<!-- 'specialFood': $("#food").val(), 'specialMedical': $("#medical").val(), -->
				<!-- 'contactPhone': $("#contactPhone").val(), 'contactName': $("#contactName").val(), -->
				<!-- 'contactRelation': $("#contactRel").val(), -->
				<!-- 'department': $("#department").val(), -->
				<!-- 'title': $("#title").val() -->
			<!-- }, -->
            <!-- //'priceLevel': { 'id': $(".selectLevel")[0].id.split('_')[1], 'options': getOptions() }, -->
            <!-- 'event': '{{event}}' -->
		<!-- }; -->
	

		$.ajax({
		    "type": "POST",
		    "dataType": "json",
		    "url": "{% url 'addNewStaff' %}",
		    "data": JSON.stringify(data),
		    "beforeSend": function(xhr, settings) {
		        $.ajaxSettings.beforeSend(xhr, settings);
		    },
		    "error": function(result, status, error) {
			    if (result.responseText == "") {
				    alert("Your session has expired.");
			    } else {
                    alert("An error has occurred. Please check the form for any error messages. If this error continues, please contact {{ event.staffEmail }} for assistance.")
					console.log('request went to', "{% url 'addNewStaff' %}");
					//console.log(result,status,error);
					//console.log(result.responseText);
					console.log(data); 
				}
			    $("#register").removeAttr("disabled");
		    },
            "success": function (result, status) {
                if (result.success)
                {
 	                if(data.staff.priceLevel == undefined){
						window.location = "{% url 'doneStaff' %}";
					}
					else{
						window.location = "{% url 'cart' %}";
					}
					
					console.log(data); 
					console.log('hhhhh');
			    } else {
                    alert("An error has occurred. Please check the form for any error messages. If this error continues, please contact {{ event.staffEmail }} for assistance.")
			    }
			    $("#register").removeAttr("disabled");
            }
		});
	}



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});




 </script>

{% endblock %}
