<hr/>

<h3>Convention Info</h3>
{% if staff %}
<p>If your department and/or title are not correct, contact the Staff Services department to have it corrected.</p>
{% endif %}

<div class="form-group">
    <label for="add1" class="col-sm-3 control-label">Preferred Name<span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="text" name="badgeName" id="badgeName" value="{{badge.badgeName}}" placeholder="Badge Name" class="form-control" required data-error="Badge name is required.">
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

{% if staff %}
<div class="form-group">
    <label for="department" class="col-sm-3 control-label">Department </label>
    <div class="col-sm-9">
        <input id="department" name="department"class="form-control" value="{{staff.department}}" disabled />
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="title" class="col-sm-3 control-label">Title </label>
    <div class="col-sm-9">
        <input type="text" id="title" name="title" value="{{staff.title}}" placeholder="Title" class="form-control form-control-text" disabled>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>


{% elif staff == None %}
<div class="form-group">
    <label for="division" class="col-sm-3 control-label">Division <span style="color:red;">*</span></label>
    <div class="col-sm-9">
		<select id="division" name="division" class="form-control" required>
            <option value="">-- Select One --</option>
        </select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="title" class="col-sm-3 control-label">Title <span style="color:red;">*</span></label>
    <div class="col-sm-9">
		<select id="title" name="title" class="form-control" required>
            <option value="">-- Select One --</option>
        </select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="department" class="col-sm-3 control-label">Department <span style="color:red;">*</span></label>
    <div class="col-sm-9">
		<select id="department" name="department" class="form-control" required>
            <option value="">-- Select One --</option>
        </select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>


{% endif %}

<div class="form-group">
    <label for="shirt" class="col-sm-3 control-label">Shirt Size <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <select id="shirt" name="department" class="form-control" required>
            <option value="">-- Select One --</option>
        </select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<hr/>

<h3>Emergency Contact Info</h3>

<div class="form-group">
    <label for="contactName" class="col-sm-3 control-label">Name <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="text" id="contactName" name="contactName" value="{{staff.contactName}}" placeholder="Contact Name" class="form-control form-control-text" required>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="contactRel" class="col-sm-3 control-label">Relationship <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="text" id="contactRel" name="contactRel" value="{{staff.contactRelation}}" placeholder="Relationship To You" class="form-control form-control-text" required>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="contactPhone" class="col-sm-3 control-label">Phone Number <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="phone" id="contactPhone" name="contactPhone" value="{{staff.contactPhone}}" placeholder="Phone Number" class="form-control form-control-text" required>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<hr/>

<h3>Room Requirements</h3>
<div class ="input-group col-sm-12">

<div class="form-group">
    <label for="accommodation" class="col-sm-3 control-label">Accommodation<span style="color:red;">*</span></label>
    <div class="col-sm-9">
		<select id="accommodation" name="accommodation" class="form-control" required>
            <option value="">-- Select One --</option>
            <option value="0">Crash Space</option>
            <option value="1">Room Reimbursement</option>
            <option value="2">None</option>
        </select>
		
		<div class = 'aDesc text-info 0'>Select this option if you are requesting <b>a staff room</b> this year. </div> 
		<div class = 'aDesc text-info 1'>Select this option if you are requesting a <b>room reimbursement</b> this year. </div> 
		<div class = 'aDesc text-danger 2'>Select this option if you <b>aren't</b> requesting a staff room <em>or</em> a room reimbursement this year. </div> 
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="whitelist" class="col-sm-3 control-label">Roommate Requests:</label>
    <div class="col-sm-9">
        <input type="text" id="whitelist" name="whitelist" value="{{staff.roommateRequests}}" placeholder="names" class="form-control form-control-text">
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="blacklist" class="col-sm-3 control-label">Don't Room Me With:</label>
    <div class="col-sm-9">
        <input type="text" id="blacklist" name="blacklist" value="{{staff.roomateBlacklist}}" placeholder="names" class="form-control form-control-text">
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

</div>
<hr>

<h3>Anime USA Staff Discord <small><a href='https://discord.gg/bJ77dmY' target="_blank">invite link</a></small></h3>
<div class = 'text-info mb-3 col-sm-12'>Anime USA staff are strongly encouraged to join the staff Discord channel in order to receive official communications during all stages of the convention, including the ability to attend staff meetings remotely and communicate instantly at-con with staff. Please use the invite link above to sign up! </div>

<div class = ' text-right text-warning mb-3 col-sm-12'><br>Please ensure that the name is correctly formatted! ex: name#1234<br> </div>
<div class="form-group">
    
	
	<label for="discord" class="col-sm-3 control-label">Discord Handle</label>
    <div class="col-sm-9">
        <input type="text" id="discord" name="discord" value="{{staff.discord}}" class="form-control form-control-text"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
	
</div>
	<hr> 

<h3>Other Info</h3>
<div class="form-group">
    <label for="medical" class="col-sm-3 control-label">Medical Needs</label>
    <div class="col-sm-9">
        <input type="text" id="medical" name="medical" value="{{staff.specialMedical}}" class="form-control form-control-text"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="food" class="col-sm-3 control-label">Dietary Needs</label>
    <div class="col-sm-9">
        <input type="text" id="food" name="food" value="{{staff.specialFood}}" class="form-control form-control-text" />
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="skills" class="col-sm-3 control-label">Misc. Info</label>
    <div class="col-sm-9">
        <input type="text" id="skills" name="skills" value="{{staff.specialSkills}}" class="form-control form-control-text"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>


